<section>
  <!-- Heading -->
  <header class="header">
    <div class="mt-4">
      <img
        id="face-img"
        class="w-100"
        src="../../../assets/images/face_placeholder.jpg"
        alt="User's Face"
      />
    </div>
    <h3>Raymond Yu</h3>
    <h5>Seneca Graduate in Computer Programming and Analysis</h5>
  </header>

  <!-- Introduction -->
  <div class="row">
    <div class="col-12">
      <p>Hello, I am seeking a position in web or software development.</p>
      <h4>Technical Proficiencies</h4>
    </div>
    <div class="col-md-2">
      <img
        class="fit-img"
        src="../../../assets/images/java_logo.jpg"
        alt="Java Logo"
      />
    </div>
    <div class="col-12">
      <hr />
    </div>
  </div>

  <!-- Show projects -->
</section>
