<section class="mb-4" id="top">
  <!-- Heading -->
  <header class="header">
    <div class="mt-4">
      <img
        id="face-img"
        class="w-100"
        src="../../../assets/images/ray4.jpg"
        alt="User's Face"
      />
    </div>
    <h3 class="my-5">Hello there, my name is Raymond!</h3>
  </header>

  <!-- Introduction -->
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p>
        <b>
          I am Seneca graduate with working experience and am now seeking a
          position in web or software development.
        </b>
      </p>
      <p>
        I know a plethora of programming languages and can work on the front or
        back-end.
      </p>
      <p>
        More Importantly, I have the drive to learn and discipline to do what's
        needed to complete my tasks.
      </p>
      <p class="mb-5">
        Below you will find my technical proficiencies and personal projects
        that I've worked on outsite of class
      </p>
      <hr />
      <h4 class="text-center mb-4 pt-2">Technical Proficiencies</h4>
    </div>
    <div class="col-md-2 col-4 mb-3" *ngFor="let logo of logos">
      <img class="fit-img" src="{{ logo }}" />
    </div>
  </div>
  <hr />
</section>

<!-- Show projects -->
<section class="pb-4" id="project">
  <header class="mb-4">
    <h4 class="text-center">Personal Projects</h4>
  </header>
  <div class="row pt-4">
    <div class="col-md-6 ">
      <img
        class="fit-img shadow mh-260"
        src="../../../assets/images/walmart_project.png"
      />
    </div>
    <div class="col-md-6">
      <!-- Content -->
      <h4 class="text-center mb-4 mt-4 mt-md-0">Walmart Product Search</h4>
      <div>
        <ul>
          <li>Created using React, Node.js and deployed onto Heroku.</li>
          <li>
            Application lets the user search for products using the Walmart API.
          </li>
          <li>
            Is a progressive web application which means it has offline
            capabilities.
          </li>
        </ul>

        <div class="row justify-content-center">
          <div class="d-flex flex-row col-4 col-md-4">
            <p class="p-2">
              <a href="https://walmartsearch.herokuapp.com/">Website</a>
            </p>
            <p class="p-2">
              <a href="https://github.com/VividCoder7777/WalmartSearch"
                >Github</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-4">
  <div class="row pt-4">
    <div class="col-md-6 ">
      <img class="fit-img shadow mh-260" src="../../../assets/images/von.png" />
    </div>
    <div class="col-md-6">
      <!-- Content -->
      <h4 class="text-center mb-4 mt-4 mt-md-0">Store Front Demo</h4>
      <div>
        <ul>
          <li>
            Application built with React and Node.js.
          </li>
          <li>
            Built mobile first. Website is responsive and looks great on mobile
            and desktop.
          </li>
          <li>
            Has front-end and back-end validation when creating user account.
          </li>
          <li>Uses JSON Web Token to authenticate User.</li>
        </ul>
        <div class="row justify-content-center">
          <div class="d-flex flex-row col-4 col-md-4">
            <p class="p-2">
              <a href="https://vonlegacy.herokuapp.com/">Website</a>
            </p>
            <p class="p-2">
              <a href="https://github.com/VividCoder7777/Outlet">Github</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-4">
  <div class="row pt-4">
    <div class="col-md-6 ">
      <img
        class="fit-img shadow mh-260"
        src="../../../assets/images/pokemon.png"
      />
    </div>
    <div class="col-md-6">
      <!-- Content -->
      <h4 class="text-center mb-4 mt-4 mt-md-0">Pokemon Trading Card Search</h4>
      <div>
        <ul>
          <li>
            Application built with Java Spring Framework and JQuery.
          </li>
          <li>
            Lets user search for pokemon cards based on types and/or name.
          </li>
          <li>
            API calls are handle on the backend rather than the front.
          </li>
        </ul>
        <div class="row justify-content-center">
          <div class="col-12">
            <p class="p-2 text-center">
              <a href="https://pokemon-tcg-pokedex.herokuapp.com/">Website</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<!-- This is the contact section -->

<section
  class="mt-5 mh-500 d-flex align-items-center justify-content-center"
  id="contact"
>
  <div class="row ">
    <div class=" border p-5">
      <header>
        <h5 class="text-center  mb-4">
          Feel Free To Contact Me!
        </h5>
      </header>
      <div class="row">
        <div class="col-12 text-center">
          <p>Email: <b>raymond.yu171@gmail.com</b></p>
          <p>Phone: <b>647-863-4130</b></p>
          <p>
            <a href="https://linkedin.com/in/raymond-yu-a5839013b">LinkedIn</a>
          </p>
          <p>
            <a href="https://github.com/VividCoder7777?tab=repositories"
              >Github</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
