<section class="mb-300">
  <!-- Heading -->
  <header class="header">
    <div class="mt-4">
      <img
        id="face-img"
        class="w-100"
        src="../../../assets/images/face_placeholder.jpg"
        alt="User's Face"
      />
    </div>
    <h3>Raymond Yu</h3>
    <h5>Seneca Graduate in Computer Programming and Analysis</h5>
  </header>

  <!-- Introduction -->
  <div class="row">
    <div class="col-12">
      <p>Hello, I am seeking a position in web or software development.</p>
      <h4 class="text-center">Technical Proficiencies</h4>
    </div>
    <div class="col-md-2 col-4 mb-3" *ngFor="let logo of logos">
      <img class="fit-img" src="{{ logo }}" />
    </div>
  </div>
  <hr />
</section>

<!-- Show projects -->
<section class="pb-4">
  <header class="mb-4">
    <h4 class="text-center">Personal Projects</h4>
  </header>
  <div class="row pt-4">
    <div class="col-md-6 ">
      <img
        class="fit-img shadow"
        src="../../../assets/images/walmart_project.png"
      />
    </div>
    <div class="col-md-6">
      <!-- Content -->
      <h4>Walmart Product Search</h4>
      <div>
        <ul>
          <li>
            Application lets the user search for products using the Walmart API.
          </li>
          <li>
            Is a progressive web application which means it has offline
            capabilities.
          </li>
          <li>Created using React and deployed onto Heroku.</li>
        </ul>
        <ul>
          <li><h5>Links</h5></li>
          <li><a href="https://walmartsearch.herokuapp.com/">Website</a></li>
          <li>
            <a href="https://github.com/VividCoder7777/WalmartSearch">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
