.header {
  text-align: center;
}

#face-img {
  max-width: 250px;
  max-height: 300px;
  border-radius: 50%;
}

.sm-img {
  max-width: 200px;
  max-height: 300px;
}

.fit-img {
  width: 100%;

  min-height: 150px;
  vertical-align: middle;
}

.mb-300 {
  margin-bottom: 300px;
}

.fit-img:hover {
  opacity: 0.6;
}

.slant {
  transform: skewY(-5deg);
}

section {
  line-height: 1.5;
}

section ul {
}

ul li {
  margin-bottom: 0.5rem;
}

.mh-500 {
  min-height: 500px;
}
